[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
boto3 = "*"
autopep8 = "*"
isort = "*"
openpyxl = "*"
pandas-profiling = "*"
plotly = "*"
holidays = "*"
sklearn = "*"
pywin32 = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.8"
