:root {
  --kpi-border-radius: 20px;
  --kpi-background-color: rgb(218, 218, 218);
}

.dashboard-container {
  margin: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.testing {
  background-color: rgb(189, 183, 0);
}
.horizontal-kpis-container {
  padding: 20px;
}

.dashboard-header {
  padding: 10px;
  background-color: rgb(13, 74, 121);
}

.brand-image-container {
  margin-left: 30px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: white;
  max-width: 100px;
  max-height: 100px;
}
.brand-image {
  max-width: 100%;
  max-height: 100%;
}

.dashboard-header-info {
  color: aliceblue;
}
.photo-and-text {
  margin-right: 10px;
}

.dashboard-stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 15px !important;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: rgb(255, 255, 255);
}

.mean-kpi {
  background-color: var(--kpi-background-color);
  border-radius: var(--kpi-border-radius);
  min-width: 100%;
  min-height: 100%;
  margin-bottom: 10px;
  padding: 10px;
}
.mean-kpi-label {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 15px;
  font-weight: 500;
  color: orange;
}
.mean-kpi-value {
  padding: 0 !important;
  margin: 0 !important;
  color: black;
}

.mean-income-container {
  background-color: var(--kpi-background-color);
  width: 100%;
  height: 100%;
  border-radius: var(--kpi-border-radius);
}

.kpi-income-container {
  background-color: rgb(0, 0, 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 40px;
  align-self: center;
  padding-top: 0;
  height: 30px;
  color: white;
  margin: 10px;
  border-radius: var(--kpi-border-radius);
}

.no-margin {
  margin: 0 !important;
  padding: 0 !important;
}
.kpi-income-value {
  color: orange;
}
.dashboard-stats-label {
  align-self: center;
  color: black;
  font-weight: 700;
}
.kpi-model-label {
  font-weight: 400;
}
.kpi-model-value {
  font-weight: 800;
  color: rgb(255, 111, 0);
}

.kpi-model-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  place-content: flex-end;
  background-color: var(--kpi-background-color);
  border-radius: var(--kpi-border-radius);
  padding: 10px;
}

.date-picker {
  display: flex;
  flex-grow: 1;
}

.MuiPickersStaticWrapper-root {
  background-color: var(--kpi-background-color) !important;
  border-radius: var(--kpi-border-radius);
}

.div[class^="Mui"] {
  font-size: 20px !important;
}
